@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #1f2122;
    --grey: #e1e3e6;
    --grey-accent: #f4f4f4;
    --primary-color: #349d9f;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}